@tailwind utilities;

@reference "#styles/tailwind.css";

body {
	--tt-toolbar-height: 44px;
	--tt-theme-text: var(--tt-gray-light-900);

	.dark & {
		--tt-theme-text: var(--tt-gray-dark-900);
	}
}

.tiptap.ProseMirror {
	@apply leading-6  text-primary-lighter;
}

.simple-editor-wrapper {
	overflow: auto;
}

.simple-editor-content {
	@apply w-full h-full flex flex-1 leading-none;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
	@apply p-4 min-h-60 max-h-96 h-auto flex-1;
}

@media screen and (max-width: 480px) {
	.simple-editor-content .tiptap.ProseMirror.simple-editor {
		padding: 1rem 1.5rem 30vh;
	}
}
